@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bgc-1: 0 0% 100%;
    --color-bgc-2: 0 0% 90%;

    --color-accent-1: 0 0% 0%;
    --color-accent-2: 0 0% 20%;
    --color-accent-3: 0 0% 40%;
  }

  :root[data-theme='dark'] {
    --color-bgc-1: 0 0% 0%;
    --color-bgc-2: 0 0% 10%;

    --color-accent-1: 0 0% 100%;
    --color-accent-2: 0 0% 80%;
    --color-accent-3: 0 0% 60%;
  }
}

#__next {
  min-height: 100%;
}
