@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bgc-1: 0 0% 100%;
    --color-bgc-2: 0 0% 95%;

    --color-accent-1: 0 0% 0%;
    --color-accent-2: 0 0% 20%;
    --color-accent-3: 0 0% 40%;
  }

  :root[data-theme='dark'] {
    --color-accent-1: 0 0% 100%;
    --color-accent-2: 0 0% 80%;
    --color-accent-3: 0 0% 60%;

    --color-bgc-1: 0 0% 0%;
    --color-bgc-2: 0 0% 5%;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --color-bgc: 217deg 32.6% 17.5%;
      --color-textc: 210deg 40% 98%;
      --color-accent1: 288deg 95.8% 60.6%;
      --color-accent2: 168deg 83.8% 48.2%;
    }
  } */

}

#__next {
  min-height: 100%;
}